<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.10.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.10.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.33.0" targetFramework="net472" />
</packages>